* {
    padding: 0;
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        display: flex;
    }
}
.main {
    &__nav {
        display: flex;
        list-style: none;
    }
    &__item {
        a {
            display: block;
            padding: 20px 40px;
            margin-left: 10px;
            background-color:cornflowerblue;
            text-decoration: none;
        }
    }
}